{% extends "base.html" %}

{% block content %}



<form action="/add" method="post">
    <label>Please enter your User Name<input type="text" name="user-name"/></label>
    <input type="submit" value="Add It"/>
    {% if user_error %}
    <span class='error', align="center" >{{ user_error }}</span>
    {% endif %}

    <br>


    <label>Please enter your password<input type="text" name="password"/></label>
    <input type="submit" value="Add It"/>
    {% if pass_error %}
    <span class='error', align="center" >{{ pass_error }}</span>
    {% endif %}
    

    
    

    
</form>

{% endblock %}